.app {
  text-align: center;
  font-family: Arial, sans-serif;
  margin-top: 30px;
}

.calendar-layout {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  margin-top: 40px;
}

.calendar-container {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 20px;
}

.sidebar {
  background-color: #f7f7f7;
  border-left: 3px solid #0077ff;
  padding: 20px;
  width: 250px;
  border-radius: 8px;
  text-align: left;
}
.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.sidebar select {
  margin-top: 5px;
  width: 100%;
  padding: 5px;
  border-radius: 4px;
}

.sidebar select[multiple] {
  height: 120px;
  padding: 8px;
  width: 100%;
  border-radius: 5px;
  margin-top: 5px;
}


.close-button {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #888;
  transition: color 0.2s ease;
}

.close-button:hover {
  color: #ff0000;
}

label {
  display: block;
  margin-top: 20px;
}

.submit-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #858585;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.2s ease;
}

.submit-button:hover {
  background-color: #005fcc;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}





